<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/output.css" rel="stylesheet">
    <link href="../css/index.css" rel="stylesheet">
  
</head>
<body>

    <%- include('partials/window') %>
<!-- İçerik Kısmı -->
<main class="flex-1 w-full relative py-12 overflow-y-auto bg-white dark:bg-gray-900 bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]">
    <div class="py-8 px-6 mx-auto max-w-screen-xl text-center lg:py-16">
        <div class="py-2 px-1 mx-auto  text-center  relative  bg-white dark:bg-gray-900">
            <h1 class="text-gray-300">ÖĞRENCİ SAYFASI</h1>
        </div>
    </div>
</main>
	
    <%- include('partials/footer') %>

</body>
</html>
